
@import './main.css';
@import '../newLayout/css/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        font-family: 'Inter', 'Noto Sans TC', 'Microsoft JhengHei', Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }
}

