
@import './main.css';
@import '../newLayout/css/styles.css';
@import './home.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        font-family: 'Inter', 'Noto Sans TC', 'Microsoft JhengHei', Arial, sans-serif;
        /*font-family: "Helvetica", "Arial","LiHei Pro","Microsoft JhengHei", sans-serif;*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }
}
