
@import './main.css';
@import '../newLayout/css/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Fredoka One', 'cursive', system-ui, sans-serif;
    }}



/*卡欄寬*/
.r_sidebar {
    width: 80%;
}

.l_sidebar {
    width: 20%;
    font-size: 1.1rem;
}

.n-row, n-row > * {
    padding: 5px;
    margin: 1px;
}

/*卡寬*/
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-title > * {

    /*margin: 0 5px;*/
    position: relative;
    cursor: pointer;
    flex: 1;
}

.nav-title {
    gap: 20px;
}

select {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
    width: 100%;
    padding: 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid;
    border-radius: 4px;
    color: inherit;
    font-family: "Century Gothic", "Noto Sans TC", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    outline: 0;
    line-height: 1rem;
    box-shadow: inset 4px 4px 4px -2px rgba(202, 202, 202, 0.25);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}


