/*!* 首页轮播淡化滚动条的样式 *!*/
/*.homepage-carousel::-webkit-scrollbar {*/
/*    width: 8px; !* 控制滚动条宽度 *!*/
/*}*/

/*.homepage-carousel::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(0, 0, 0, 0.2); !* 设置透明度的颜色 *!*/
/*    border-radius: 4px; !* 圆角效果 *!*/
/*}*/

/*.homepage-carousel::-webkit-scrollbar-track {*/
/*    background-color: rgba(0, 0, 0, 0.1); !* 背景轨道透明度 *!*/
/*}*/


/*.fade-on-scroll {*/
/*    position: relative; !* 使元素能夠擁有絕對定位的子元素 *!*/
/*    transition: opacity 0.2s ease-out, filter 0.2s ease-out; !* 添加過渡效果 *!*/
/*}*/


.swiper-pagination-bullet-active {
    background: #ee9900 !important;
}

.swiper-pagination-bullet:hover {
    background: #fbfbfc !important;
}

.tabutton.active, .tabutton:hover {
    /*height: 100%;*/
    @apply pb-1 ss:pb-2 bg-[#5B9894FF] !text-white ;
}

.tab-lock img.lock-active {
    opacity: 1 !important;
    z-index: 10 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    @apply !text-4xl   !px-[0.894rem]  hover:text-[#fbfbfc] text-[#ee9900] scale-50
}

.swiper-button-prev,
.swiper-button-next {
    @apply aspect-square bg-[rgba(0,0,0,0.3)]  rounded-full  font-extrabold
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    @apply bg-[rgba(0,0,0,0.5)]
}

.swiper-button-prev {
    @apply ml-3
}

.swiper-button-next {
    @apply mr-3
}
