/**/
.v-tab .v-ripple__container {
    display: none !important; /* 移除點擊漣漪效果 */

}
.v-tab.v-tab.v-btn {
    height:auto!important;
    border-radius: 0;
    min-width: 0px!important;
}
.v-btn--size-default {
     padding: 0 0px!important;
}
.v-tab.v-tab--selected::before {
    display: none !important;
}
.v-btn:focus::before,
.v-btn:active::before {
    display: none !important;
}

/**/

.swiper-pagination-bullet-active {
    background: #ee9900 !important;
}

.swiper-pagination-bullet:hover {
    background: #fbfbfc !important;
}

.tabButton{
    @apply !rounded-t-lg !pt-2 !pb-1;
}
.tabButton:hover {
    @apply !pb-2 ss:pb-1.5 !bg-[#F7DBAB];
}
.tabButton.v-tab--selected,.tabButton.v-tab--selected:hover {
    @apply !pb-2 ss:pb-1.5 !bg-[#5B9894FF] !text-white ;;
}

.tab-lock img.lock-active {
    opacity: 1 !important;
    z-index: 20 !important;
}
.fade:not(.show) {
    display: none!important;
    opacity: 0;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    @apply !text-4xl   !px-[0.894rem]  hover:text-[#fbfbfc] text-[#ee9900] scale-50
}

.swiper-button-prev,
.swiper-button-next {
    @apply aspect-square bg-[rgba(0,0,0,0.3)]  rounded-full  font-extrabold
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    @apply bg-[rgba(0,0,0,0.5)]
}

.swiper-button-prev {
    @apply ml-3
}

.swiper-button-next {
    @apply mr-3
}
