
.swiper-pagination-bullet-active {
    background: #ee9900 !important;
}

.swiper-pagination-bullet:hover {
    background: #fbfbfc !important;
}


.tabutton:hover {
    @apply pb-1 ss:pb-2 bg-[#F7DBAB];
}
.tabutton.active,.tabutton.active:hover {
    @apply pb-1 ss:pb-2 bg-[#5B9894FF] !text-white;
}

.tab-lock img.lock-active {
    opacity: 1 !important;
    z-index: 20 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    @apply !text-4xl   !px-[0.894rem]  hover:text-[#fbfbfc] text-[#ee9900] scale-50
}

.swiper-button-prev,
.swiper-button-next {
    @apply aspect-square bg-[rgba(0,0,0,0.3)]  rounded-full  font-extrabold
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    @apply bg-[rgba(0,0,0,0.5)]
}

.swiper-button-prev {
    @apply ml-3
}

.swiper-button-next {
    @apply mr-3
}
