
.choices__item--selectable.is-selected  {
    @apply !text-yes-major !bg-neutral-50
}
.choices__item--selectable.is-highlighted {
    @apply !bg-[#f7dbab] !flex
}

.choices__list.choices__list--multiple{
    @apply !py-1;
    display: block;
}
.choices__inner ,.choices__list--single ,.choices {
@apply !py-0 !px-2 ;
    border:none!important;
    background-color: #FFFFFF!important;
}
.choices {
    @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-yes-major sm:text-sm/6;
    border-radius: 0.5rem!important;

}

.btm_trip .swiper-slide {
    @apply w-[25%] h-full relative;
    /* 使 swiper-slide 有定位 */
}

.btm_trip .swiper-slide::before {
    content: "";
    @apply absolute inset-0 bg-black opacity-70 z-10;
    /* 黑色遮罩，透明度 70% */
}

.btm_trip .swiper-slide-thumb-active::before {
    @apply opacity-0
}
/*彈跳框樣式*/
.trip_card_Swal_confirm {
    @apply  bg-neutral-50 hover:bg-yes-major hover:text-cyan-50 text-yes-major;

    border: 1px solid #64a19d;

}
.swal-height-limit{

}
